.titulo-principal__numero 
  background-color: #6E3DC6

.fondo-lila
  background-color: #E2D8F4
  border-radius: 20px
.fondo-morado
  background-color: #FBEEFE
.fondo-azul 
  background-color: #EEF5FC
.titulo-morado
  background-color: #BE79CA
.tarjeta-avatar 
  height: 100%
  position: relative
  padding-top: 0
.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after
  background-color: #f9ce24

.w-card-icon
  width: min-content
  z-index: 1 
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
.subrayado
  border-bottom: solid !important
  width: 30% !important
.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto
.cajon.color-acento-contenido 
   background-color: #E2D8F4 !important

.caja1
  background-color: #6E3DC6
  border-radius: 15px
.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #75BAF1

.py-3.py-md-4
  padding-top: 1.5rem !important
  padding-bottom: 1.5rem !important
  background-color: #FBEEFE

.blanco 
  background-color: #fff
  border-radius: 20px

.tarjeta--gris
  background-image: url('../assets/curso/temas/tema4/banner.png')
  background-size: 100% 100%
  background-position: center 
.linea-tiempo-c__header__btn--right
  background-color: #f9ce24
.linea-tiempo-c__header__btn--left
  background-color: #f9ce24

.bgfondo
  background-image: url('../assets/curso/temas/tema5/banner.png')
  background-size: 100% 100%
  background-position: center 

.bgfondo1
  background-image: url('../assets/curso/temas/tema3/banner.png')
  background-size: 100% 100%
  background-position: center 

.bgfondo2
  background-image: url('../assets/curso/temas/tema2/fondo.png')
  background-size: 100% 100%
  background-position: center 
.bgfondo3
  background-image: url('../assets/curso/temas/tema2/fondo2.png')
  background-size: 100% 100%
  background-position: center 
.tabs-c__header 
  margin-bottom: 0px

.fa-check-circle:before, .fa-circle-check:before 
  content: "\f058"
  color: #6E3DC6
.bgfondo4
  background-image: url('../assets/curso/temas/tema3/banner.png')
  background-size: 100% 100%
  background-position: center 

.acordion__accion__btn--b
  border: 1px solid #FFD947
  background-color: #FFD947
